//
//  Config.swift
//  BeeSwift
//
//  Created by Andrew Brett on 2/20/20.
//  Copyright © 2020 APB. All rights reserved.
//

import Foundation


import Foundation
public struct Config {
    public var sentryClientDSN = ""
    public var requestSigningKey = ""
    public var baseURLString = "https://www.beeminder.com"
    
    public init() {
        self.baseURLString = "https://www.beeminder.com"
        self.requestSigningKey = ""
        self.sentryClientDSN = ""
    }
}
