name: Fastlane Tests

on:
  pull_request:

jobs:
  build:
    runs-on: macos-13

    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - uses: actions/checkout@v4
    - name: Use sample configuration
      run: cp BeeKit/Config.swift.sample BeeKit/Config.swift
    - name: Setup ruby and install gems
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7.2'
        bundler-cache: true
    - name: Run tests
      run: bundle exec fastlane test
    - name: Upload logs
      uses: actions/upload-artifact@v4
      with:
        name: simulator-logs
        path: ~/Library/Logs/CoreSimulator
    - name: Upload report
      uses: actions/upload-artifact@v4
      with:
        name: test-report.html
        path: fastlane/test_output/report.html
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: always() # always run even if the previous step fails
      with:
        report_paths: 'fastlane/test_output/report.junit'
