name: Fastlane Tests

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-26
    timeout-minutes: 30

    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.1'
    - uses: actions/checkout@v6
    - name: Use sample configuration
      run: cp BeeKit/Config.swift.sample BeeKit/Config.swift
    - uses: actions/cache@v5
      with:
        path: SPMCache
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Setup ruby and install gems
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3.5'
        bundler-cache: true
    - name: Enable Macros
      run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
    - name: Run tests
      run: bundle exec fastlane ci
    - name: Upload report
      uses: actions/upload-artifact@v6
      if: always() # always run even if the previous step fails
      with:
        name: test-output
        path: fastlane/test_output
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v6
      if: always() # always run even if the previous step fails
      with:
        report_paths: 'fastlane/test_output/report.junit'
